---
---

@import "{{ site.theme }}";

header {
  display: none;
}

<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:5px;}
.tg td{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-cly1{text-align:left;vertical-align:middle}
</style>
